* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #828282;
}

::selection {
  background-color: white;
  color: var(--primary);
}

nav {
  background: var(--primary);

  ul {
    li {
      .hover-underline {
        font-size: 1.2rem;
        color: #ffffff;
        position: relative;
        display: inline-block;
        padding: 0;
        margin: 0;

        &.active {
          &::after,
          &::before {
            transform: scaleX(1);
          }
        }
      }

      .hover-underline::after,
      .hover-underline::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #ffffff, #c2ffff);
        bottom: -3px;
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s ease-out;
      }

      .hover-underline::before {
        top: -3px;
        transform-origin: left;
      }

      .hover-underline:hover::after,
      .hover-underline:hover::before {
        transform: scaleX(1);
      }
    }
  }
}

#hero-sec {
  margin-top: 106.42px;
  width: 100%;
  height: calc(100dvh - 106.42px);

  &.home-page {
    background: url(https://firt.imgix.net/img/posts/js-background.jpg?w=500&auto=format)
      center/cover;
  }

  &.gym-page {
    background: url(https://www.shutterstock.com/image-photo/barbell-fitness-training-gym-sports-600nw-2139742761.jpg)
      center/cover;
  }

  &.electricity-page {
    background: url(https://media.istockphoto.com/id/1969568700/photo/electricity-pilon.jpg?s=612x612&w=0&k=20&c=YdQgPI49xUkqm-gPVB_ed1eXfkAMXzEuYXB02EPgmhw=)
      center/cover;
  }

  &.checkout-page {
    background: url(https://img.freepik.com/free-photo/arrangement-black-friday-shopping-carts-with-copy-space_23-2148667047.jpg?semt=ais_hybrid&w=740&q=80)
      center/cover;
  }

  h1 {
    font-size: clamp(2rem, 10vw, 4rem);
    color: white;
    text-shadow: 3px 3px 3px var(--primary);
    margin: 0;
    padding: 0;
  }
}
