* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

  background: url(https://i.pinimg.com/originals/ac/54/a1/ac54a128942c750799c2c1fe144d2467.jpg)
    left center/cover;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 46, 46, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  button {
    cursor: pointer;
    padding: 8px 14px;
    background-color: transparent;
    border: 1px solid rgb(255, 238, 238);
    border-right: none;

    font-size: 1rem;
    font-weight: 500;
    font-family: sans-serif;
    text-transform: uppercase;
    text-shadow:
      0px 0px 1px rgb(0, 0, 0),
      2px 2px 4px rgb(42, 42, 42);
    transition: all 0.4s ease;

    &:first-child {
      color: #3b82f6;

      &:hover {
        border-color: #3b82f6;
        background-color: #3b82f6;
        color: white;
      }
    }

    &:nth-child(2) {
      color: #22c55e;

      &:hover {
        border-color: #22c55e;
        background-color: #22c55e;
        color: white;
      }
    }

    &:nth-child(3) {
      color: #f59e0b;

      &:hover {
        border-color: #f59e0b;
        background-color: #f59e0b;
        color: white;
      }
    }

    &:last-child {
      color: #ef4444;
      border-right: 1px solid rgb(255, 238, 238);

      &:hover {
        border-color: #ef4444;
        background-color: #ef4444;
        color: white;
      }
    }

    /* @media (max-width: 767px) {
      font-size: 13px;
      line-height: 22px;
    } */

    span {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}
